<app-header></app-header>
<div class="container">
  <h1>Profil utilisateur</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>{{user.username}}</mat-label>
      <input matInput type="text" formControlName="username" placeholder="Nouveau nom d'utilisateur">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{user.email}}</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Nouvelle adresse e-mail">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Sauvegarder</button>
  </form>

  <!-- FIXME: le divider ne s'affiche pas -->
  <mat-divider></mat-divider>

  <!-- FIXME: cette ligne me fait une erreur à la compilation -->
  <h1> <!-- *ngIf="(topics$ | async)?.length > 0"-->
    Abonnements
  </h1>
  <div class="subscriptions">
    <app-topic-card *ngFor="let topic of topics$ | async" [topic]="topic"></app-topic-card>
  </div>
</div>
