<app-header></app-header>
<div class="container">
  <h1>Profil utilisateur</h1>
  <form action="">
    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Adresse e-mail</mat-label>
      <input type="email" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" routerLink="login">Sauvegarder</button>
  </form>

  <!-- FIXME: le divider ne s'affiche pas -->
  <mat-divider></mat-divider>

  <!-- FIXME: cette ligne me fait une erreur à la compilation -->
  <h1> <!-- *ngIf="(topics$ | async)?.length > 0"-->
    Abonnements
  </h1>
  <div class="subscriptions">
    <app-topic-card *ngFor="let topic of topics$ | async" [topic]="topic"></app-topic-card>
  </div>
</div>
