.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-divider {
  width: 100%;
  margin: 20px 0;
}

.subscriptions-container {
  width: 100%;

  h1 {
    text-align: center;
  }
}
