<mat-toolbar>
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <img src="/assets/logo_p6.png" alt="logo" height="50"/>
  <!-- TODO: check if user is logged to show links below -->
  <span class="spacer"></span>
  <a mat-button color="warn">Se déconnecter</a>
  <a mat-button>Articles</a>
  <a mat-button>Thèmes</a>
  <a mat-button>
    <mat-icon aria-hidden="false" aria-label="account" fontIcon="account_circle"></mat-icon>
  </a>
</mat-toolbar>
